<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
    <table>
        <tr>
            <th>użytkownicy</th>
        </tr>
   {% for AbstractUser in CustomUser %}
       <tr>
                <td>{{ AbstractUser.id }}</td>
                <td>{{ abstractUser.first_name }}</td>
                <td>{{abstractUser.last_name}}</td>
                <td>{{ abstractUser.username }}</td>
                <td>{{ abstractUser.phone_Number }}</td>
                <td>{{ abstractUser.email }}</td>
                <td>{{ abstractUser.is_staff }}</td>
                <td>{{ abstractUser.is_active }}</td>
                <td>{{ abstractUser.is_superuser }}</td>

       </tr>
   {% endfor %}
    </table>
</div>
</body>
</html>
