{% load static %}
<link rel="stylesheet" href="{% static 'tablica_ogloszen/nice.css' %}">
<!DOCTYPE html>
<html>

<head>

</head>
<body>
<div>
<center><h1>TABLICA OGŁOSZEŃ</h1></center>
{#<img alt= "image" src= "{% static 'tablica_ogloszen/images/background.png'  %}">#}
    <table>
        <tr class="solid">
            <th>Kategoria ogłoszenia</th>
            <th>Treść</th>
            <th>Cena</th>
            <th>Opis</th>
            <th>Użytkownicy</th>
        </tr>
   {% for announcement in announcements %}
       <tr>
                <td class="cat">{{ announcement.categories }}</td>
                <td class="name"><button><a href="{% url 'tablica_ogloszen:question_detail' announcement.id %}">
                {{ announcement.name }}</a></button>
                </td>
                <td class="price">{{announcement.price}}zł</td>
                <td class="description">{{ announcement.description }}</td>
       </tr>
   {% endfor %}
    </table>
</div>
</body>
</html>

