{% load static %}
<link rel="stylesheet" href="{% static 'tablica_ogloszen/lol.css' %}">
<h1>Witaj serdecznie na naszej tablicy ogłoszeń!</h1>

{% if user.is_authenticated %}
    <p>Cześć, {{ user }}</p>
{% else %}
    <p>Nie jesteś zalogowany</p>
{% endif %}

<a href="{% url 'tablica_ogloszen:question_list'%}" style="text-decoration:none;" >
    <button type="button" class="block" >
        Ogłoszenia
    </button>
</a>

<a href="{% url 'admin:index' %}" style="text-decoration:none;" >
   <button type="button" class="block2">
       Admin panel
   </button>
</a>